.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  color: #E6E7E8;
  background: #005596;
}

.title {
  display: grid;
  justify-content: left;
  align-content: center;
  overflow: hidden;
  font-family: MuseoSlab, MuseoSans, serif;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  justify-content: end;
  font-size: 1.25em;
  font-family: MuseoSans, serif;
}

.content a {
  display: grid;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: inherit;
  border: 2px solid #005596;
  box-sizing: border-box;
  transition: .3s;
}

.content a:hover {
  background: #E6E7E8;
  color: #005596;
  border-color: #005596;
  transition: .3s;
}
