.modal[open] {
    width: 80%;
    height: 75%;
    border: 5px solid #030006;
    border-radius: 1.75rem;
    outline: none;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    background: #36454F;
    color: #FFFFFF;
}

.modal::backdrop {
    backdrop-filter: brightness(60%);
}

.modal header {
    display: grid;
    place-content: center;
    font-size: 1.25rem;
}

.settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    column-gap: 1rem;
    row-gap: 1rem;
    align-content: start;
    justify-content: center;
    overflow-y: auto;
}

.setting {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 60px;
}

.setting label {
    font-size: 1.4rem;
}

.setting input, .setting select {
    border: 2px solid #030006;
    height: 2rem;
    border-radius: 5px;
    font-size: 1.25rem;
    background: #FFFFFF;
    color: #030006;
}

.setting input:disabled {
    background: #E6E7E8;
}

.modal footer {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.modal footer * {
    height: 80%;
    margin-inline: 1rem;
    aspect-ratio: 2/1;
    font-size: 1.5rem;
    background: #E6E7E8;
    color: #030006;
}