.productTable {
    width: 100%;
}

.productTable tbody, .productTable thead {
    display: grid;
    justify-content: center;
    grid-template-columns: max(50%, 900px);
}

.productTable thead {
    position: sticky;
    top: 0;
}

.productTable tr {
    width: 100%;
    height: 2em;

    display: grid;
    grid-template-columns: 10% 40% 10% 40%;

    background: #E6E7E8;
}

.productTable tbody tr:hover {
    background: #FFFFFF;
}

.productTable td a {
    color: inherit;
}