.wrapper {
  display: grid;
  grid-template-columns: max(15%, 225px) calc(100% - max(15%, 225px));
  height: 100%;
}

.toolbar {
  display: grid;
  color: #E6E7E8;
  background: #36454F;
  font-size: 1.25rem;
  font-family: MuseoSans, serif;
}

.toolbarOptions {
  display: grid;
  justify-items: center;
  align-content: start;
  gap: 1em;
  padding-block: 1em;
  overflow-y: auto;
}

.toolbarOption {
  width: 90%;
  padding-block: 0.75em;
  border: 5px solid black;
  background: #030006;
  transition: .3s;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.toolbarOption:hover {
  background: #E6E7E8;
  color: #030006;
  transition: .3s;
}

.toolbarSelected {
  background: #E6E7E8;
  color: #030006;
}

.toolbarDownload {
  display: grid;
  place-content: center;
  width: 80%;
  padding-block: 0.75em;
  border: 5px solid black;
  font-size: inherit;
  font-family: inherit;
  background: #E6E7E8;
  color: #030006;
  transition: .3s;
  text-decoration: none;
}

.toolbarDownload:hover {
  background: #030006;
  color: #FFFFFF;
  transition: .3s;
}

.toolbarTools {
  align-self: end;
  display: grid;
  place-items: center;
  padding-block: 1rem;
}

.toolbarToolsSwap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.toolsSwapOption {
  padding: 0.75em 1.5em;
  border: 5px solid black;
  background: #030006;
  transition: .3s;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.toolsSwapOption:hover {
  background: #E6E7E8;
  color: #030006;
  transition: .3s;
}

.toolsSwapOptionSelected {
  background: #E6E7E8;
  color: #030006;
}

.display {
  display: grid;
  place-items: center;
  color: #030006;
  background: #E6E7E8;
}