.wrapper {
  display: grid;
  grid-template-columns: min(max(20%, 300px), 400px) auto;
  height: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.toolbar {
  display: grid;
  background: #36454F;
}

.toolbarOptions {
  display: grid;
  justify-items: center;
  align-content: start;
  gap: 1em;
  padding-block: 1em;
  overflow-y: auto;
}

.toolbarButton, .toolbarDownload {
  width: 90%;
  padding-block: 0.75em;
  border: 5px solid black;
  background: #030006;
  color: #E6E7E8;
  font-size: 1.25rem;
  font-family: MuseoSans, serif;
  transition: .3s;
}

.toolbarButton:hover, .toolbarSelected {
  background: #E6E7E8;
  color: #030006;
}

.toolbarTools {
  align-self: end;
  display: grid;
  place-items: center;
  padding-block: 1rem;
}

.toolbarToolsSwap {
  display: flex;
  width: 100%;
  padding-inline: 10%;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.toolbarDownload {
  display: grid;
  place-content: center;
  width: 80%;
  background: #E6E7E8;
  color: #030006;
  text-decoration: none;
}

.toolbarDownload:hover {
  background: #030006;
  color: #FFF;
}

.display {
  display: grid;
  place-items: center;
  background: #E6E7E8;
  min-width: 800px;
}