.content {
    font-family: MuseoSlab, MuseoSans, serif;
}

.content-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    width: 250px;
    height: 100%;

    color: #E6E7E8;

    background: #36454F;
}

.content-display {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    width: calc(100% - 250px);
    height: 100%;

    color: #E6E7E8;

    background: #E6E7E8;
}