.content-toolbar {
    display: flex;
    flex-wrap: wrap;

    width: 250px;
    height: 100%;

    color: #E6E7E8;
    background: #36454F;
}

.content-toolbar-options {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    gap: 15px;
    padding-top: 15px;
    box-sizing: border-box;

    width: 100%;
    height: calc(100% - 150px);
}

.content-toolbar-option {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: calc(100% - 30px);
    height: 60px;

    border: 5px solid black;
    box-sizing: border-box;

    background: #030006;
    transition: .3s;
    font-size: 17.5px;
    font-family: MuseoSans, serif;
}

.content-toolbar-option:hover {
    background: #E31837;
    color: #FFFFFF;
    transition: .3s;
}

.content-toolbar-selected {
    background: #E31837;
}

.content-toolbar-download {
    background: #E6E7E8;
    color: #030006;
    transition: .3s;
}

.content-toolbar-download:hover {
    background: #650812;
    transition: .3s;
}

.content-toolbar-tools {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: 150px;
}

.content-toolbar-tools-swap {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    gap: 2%;
    width: 100%;
    height: 70px;
}

.tools-swap-option {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    width: 47%;
    height: 50px;

    border: 5px solid black;
    box-sizing: border-box;

    background: #030006;
    transition: .3s;
}

.tools-swap-option:hover {
    background: #E31837;
    transition: .3s;
}

.tools-swap-option-selected {
    background: #E31837;
}

.content-display {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    width: calc(100% - 250px);
    height: 100%;

    color: #E6E7E8;
    background: #E6E7E8;
}