.cartDisplayContainer {
  height: 70%;
  overflow-y: auto;
}

.cartDisplay {
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  padding-inline: 0.5rem;
  padding-bottom: 0.5rem;
}

.cartDisplay thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.cartDisplay tr * {
  border: 2px solid black;
  border-top: none;
}

.cartDisplay tr {
  display: grid;
  grid-template-columns: 80% 20%;
}

.cartDisplay tr * {
  display: grid;
  place-content: center;
  padding-block: 0.25em;
  white-space: nowrap;
  overflow: hidden;
}

.cartDisplay tr th {
  background: #36454F;
  color: #E6E7E8;
  font-family: MuseoSlab, sans-serif;
  font-size: min(5vw, 2rem);
}

.cartDisplay tr td {
  background: #E6E7E8;
  color: #030006;
  font-family: MuseoSans, serif;
  font-size: min(4.5vw, 1.5rem);
}

.paymentInfo {
  height: 30%;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  border-top: 5px solid #030006;
}

.total {
  margin: 0;
  padding: 0.5em 1.5em;
  display: grid;
  place-content: center;
  background: #36454F;
  color: #E6E7E8;
  border: 3px solid #030006;
  border-radius: 0.25em;
  box-sizing: border-box;
  font-family: MuseoSans, serif;
  font-size: min(6vw, 2rem);
}

.paymentTypeSelection {
  display: flex;
  gap: 1em;
}

.paymentTypeSelection button {
  padding: 0.75em 1.5em;
  font-family: MuseoSans, serif;
  font-size: min(6vw, 2rem);
  transition: 0.5s;
  border-radius: 0.25em;
  border: 5px solid black;
  background: #030006;
  color: #E6E7E8;
}

.paymentTypeSelection .selected {
  border-radius: 0.5em;
  background: #E6E7E8;
  color: #030006;
}