.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 20% 70% 10%;
}

.header {
  display: grid;
  place-content: center;
  border: 15px double #36454F;
  background-color: #E31837;
  color: #E6E7E8;
  text-align: center;
  font-size: min(5vw, 1.5rem);
  font-family: MuseoSlab, serif;
}

.content {
  background-color: #36454F;
  overflow-y: auto;
}