.categories {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    row-gap: 0.25vh;
}

.categories p {
    width: 75%;

    /* General Styling */
    background-color: #231f20;

    /* Text Styling */
    text-align: center;
    color: #E6E7E8;
    font-family: MuseoSlab, MuseoSans, serif;
}

.categories p:hover {
    color: #E31837;
}

.categories p a {
    padding: 5vw;

    display: block;

    /* Text Styling */
    text-decoration: none;
    font-size: 3.75vh;
    color: inherit;
}