.product {
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  border: 4px solid #030006;
  overflow: hidden;
  display: grid;
  grid-template-rows: 56.25% 18.75% 25%;
}

.product > img {
  place-self: center;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  height: auto;
}

.name {
  display: grid;
  place-content: center;
  background: #36454F;
  color: #FFF;
  font-size: min(2.75vw, 1rem);
  font-family: MuseoSans, serif;
  border-top: 4px solid #030006;
  white-space: nowrap;
  overflow: hidden;
}

.purchase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 4px solid #030006;
  background: #030006;
  column-gap: 4px;
}

.purchase > * {
  display: grid;
  place-content: center;
  font-size: min(8vw, 3rem);
  font-family: MuseoSans, serif;
}

.option {
  border: none;
  transition: 0.3s;
}

.option:active {
  background-color: #E6E7E8;
}

.display {
  background-color: #E6E7E8;
}