.cartDisplay {
  height: 70%;
  display: grid;
  overflow-y: auto;
  padding-inline: 0.5rem;
}

.cartDisplay tr * {
  border: 2px solid black;
}

.cartDisplay tr {
  display: grid;
  grid-template-columns: 80% 20%;
}

.cartDisplay tr * {
  display: grid;
  place-content: center;
  padding: 0.25em 0;
  box-sizing: border-box;
}

.cartDisplay tr th {
  background: #E6E7E8;
  font-family: MuseoSlab, sans-serif;
  font-size: min(5vw, 2rem);
  color: #030006;
}

.cartDisplay tr td {
  background-color: #005596;
  font-family: MuseoSans, serif;
  font-size: min(4.5vw, 1.5rem);
  color: #FFFFFF;
}

.paymentInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  border-top: 5px solid #030006;
}

.total {
  margin: 0;
  padding: 0.5em 1.5em;
  display: grid;
  place-content: center;
  background: #E6E7E8;
  border: 3px solid #030006;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: MuseoSans, serif;
  font-size: min(6vw, 2rem);
  color: #030006;
}

.paymentTypeSelection {
  display: flex;
  gap: 1em;
}

.paymentTypeSelection button {
  padding: 0.75em 1.5em;
  border: 3px solid #030006;
  border-radius: 0.25em;
  background-color: #E6E7E8;
  color: #36454F;
  font-family: MuseoSlab, MuseoSans, serif;
  font-size: min(6vw, 2rem);
  transition: 0.5s;
}

.paymentTypeSelection .selected {
  background-color: #E31837;
  color: #FFFFFF;
  border-radius: 0.5em;
}