.container {
  height: 100%;
  display: grid;
  align-content: center;
  place-items: center;
  gap: 1rem;
  padding-block: 1rem;
  width: 100%;
}

.category {
  padding-block: 0.6em;
  width: 80%;
  text-decoration: none;
  font-size: min(8vw, 2.5rem);
  text-align: center;
  color: #E6E7E8;
  font-family: MuseoSlab, sans-serif;
  background: #030006;
  border-radius: 0.25em;
  border: 3px solid #030006;
  transition: .3s;
}

.category:hover {
  background: #E6E7E8;
  color: #030006;
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}