.container {
  height: 100%;
  display: grid;
  place-items: center;
}

.categories {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding-block: 1rem;
  margin-inline: auto;
  width: 100%;
  max-width: 800px;
}

.categories a {
  display: block;
  padding-block: 0.7em;
  width: 60%;
  text-decoration: none;
  font-size: min(8vw, 2.5rem);
  text-align: center;
  color: #E6E7E8;
  font-family: MuseoSlab, sans-serif;
  background-color: #030006;
}

.categories a:hover {
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .categories a {
    width: 80%;
  }
}