.content {
  align-content: center;
}

.categories {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  gap: 2vh;
}

.categories a {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  height: 10vh;

  /* Text Styling */
  text-decoration: none;
  font-size: 8vw;

  width: 80%;

  /* General Styling */
  background-color: #030006;

  /* Text Styling */
  text-align: center;
  color: #E6E7E8;
  font-family: MuseoSlab, MuseoSans, serif;
}

.categories a:hover {
  color: #FFFFFF;
}