.wrapper {
  height: 100%;
  margin-inline: auto;
}

.container {
  display: grid;
  grid-template-rows: 20% 70% 10%;
  height: 100%;
}

.header {
  display: grid;
  place-content: center;
  border-style: double;
  border-width: 15px;
  box-sizing: border-box;
  border-color: #36454F;
  background-color: #E31837;
  color: #E6E7E8;
  text-align: center;
  font-size: min(5vw, 2rem);
  font-family: MuseoSlab, serif;
}

.content {
  background-color: #36454F;
  overflow-y: auto;
}

.footer {
  display: grid;
  place-items: center;
  background-color: #005594;
  box-sizing: border-box;
  border-top: 5px solid #030006;
}

.footerButton {
  padding: 0.5em 2em;
  width: 50%;
  max-width: 300px;
  text-decoration: none;
  font-family: MuseoSans, serif;
  font-size: min(5.5vw, 2rem);
  text-align: center;
  color: #030006;
  background-color: #E6E7E8;
  border-radius: 0.5em;
  border: 5px solid #030006;
  box-sizing: border-box;
}

.footerButton:hover {
  background-color: #FFFFFF;
}