@font-face {
    font-family: MuseoSlab;
    src: url("../fonts/Museo_Slab_500_2.otf");
}

@font-face {
    font-family: MuseoSlab;
    src: url("../fonts/Museo_Slab_500italic.otf");
    font-style: italic;
}

@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSans_500.otf");
}

@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSans_500_Italic.otf");
    font-style: italic;
}

html, body, #root, .entry {
    height: 100%;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.entry {
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 20%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    /* Border Styling */
    border-style: double;
    border-width: 15px;
    box-sizing: border-box;
    border-color: #36454F;

    /* General Styling */
    background-color: #E31837;

    /* Text Styling */
    color: #E6E7E8;
    text-align: center;
    font-size: 5vw;
    font-family: MuseoSlab, MuseoSans, serif;
}

.footer {
    width: 100%;
    height: 10%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    /* General Styling */
    background-color: #005594;

    box-sizing: border-box;
    border-top: 5px solid #030006;

    /* Text Styling */
    color: #E6E7E8;
    text-align: center;
    font-size: 5vw;
    font-family: MuseoSans, serif;
}

.content {
    width: 100%;
    height: 70%;

    display: flex;

    position: relative;

    overflow-y: auto;

    /* General Styling */
    background-color: #36454F;
}

.footer p {
    width: 40%;

    background-color: #E6E7E8;

    border-radius: 5px;
    border: 5px solid #030006;
}

.footer p:hover {
    background-color: #FFFFFF;
}

.footer p a {
    padding: 3.5vw;

    display: block;

    position: relative;

    text-decoration: none;
    font-family: MuseoSans, serif;
    font-size: 5vw;
    color: #030006;
}

@media screen and (orientation: landscape) {
    .header, .content, .footer {
        display: none;
    }
    body {
        background-color: #36454F;
    }
}